app/android/app/.settings/org.eclipse.buildship.core.prefs
app/android/app/.settings/org.eclipse.jdt.core.prefs
app/android/app/.classpath
app/android/app/.project
app/android/.project
app/android/app/src/profile/gen/mn/ddishtv/ddish/Manifest.java
app/android/app/src/profile/gen/mn/ddishtv/ddish/R.java
app/android/.settings/org.eclipse.buildship.core.prefs
